APP_NAME=Aperture
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

# Configure a hostname to serve images from storage/app/media
MEDIA_URL=https://aperture-media.example

USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36 Aperture/0.1"

WATCHTOWER_URL=https://watchtower.dev
WATCHTOWER_CB=https://aperture.dev
WATCHTOWER_TOKEN=1234

MUNIN_TOKEN=1234

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=aperture
DB_USERNAME=aperture
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

STORAGE_DRIVER=file

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

SQL_LOG_QUERIES=true
SQL_LOG_SLOW_QUERIES=true
SQL_SLOW_QUERIES_MIN_EXEC_TIME=100
SQL_LOG_OVERRIDE=false
SQL_LOG_DIRECTORY=logs
SQL_CONVERT_TIME_TO_SECONDS=false
SQL_LOG_SEPARATE_ARTISAN=false
